services:
  jaeger:
    image: jaegertracing/jaeger:2.11.0
    container_name: jaeger
    ports:
      - "16686:16686"   # Jaeger Web UI
      - "6831:6831/udp" # UDP for traces
      - "14268:14268"   # HTTP ingest endpoint
      - "4317:4317"     # OTLP gRPC
      - "4318:4318"     # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    restart: unless-stopped

  mvp_server:
    image: mvp_server:latest
    container_name: mvp_server
    environment:
      - RUST_LOG=info
      - SERVICE_NAME=mvp_server
      - TRACE_ENDPOINT=http://jaeger:4317
      # - TRACE_ENDPOINT=http://jaeger:4318/v1/traces
      - GRPC_SERVER_ENDPOINT=0.0.0.0:8080
      - ENV=dev
    ports:
      - "8080:8080"
    depends_on:
      - jaeger